## User settings
xcuserdata/

## Local and unreadable project's files

*.xcodeproj/*
**/*.pbxproj
/*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
**/*.DS_Store
