<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051522426764-mcpnav6p6tiq4rroobmib2ttta2ro5kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051522426764-mcpnav6p6tiq4rroobmib2ttta2ro5kr</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Gdk8K3rz1OVK3dIOUcWBGIIHowRLEjs</string>
	<key>GCM_SENDER_ID</key>
	<string>1051522426764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>md.medicine.iMedical</string>
	<key>PROJECT_ID</key>
	<string>imedical-202cd</string>
	<key>STORAGE_BUCKET</key>
	<string>imedical-202cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051522426764:ios:c5fac51e2cc60f564218a9</string>
</dict>
</plist>